.main-player-block {
  position: absolute;
  width: 100vw;
  height: 55px;
  bottom: 0;
  background-color: var(--bg-site-g);
  z-index: 992;
  border-radius: 0px;
}

.player-containter {
  transition: all 300ms ease-in-out;
  width: 440px;
  height: 250px;
  position: fixed;
  z-index: 992;
  bottom: 16px;
  left: 16px;
  background-color: #000;
  border: 3px solid rgba(79, 111, 144, 0.75);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
}

.player-containter.minimized {
  transform: translate3d(-20%, 20%, 0) scale(0.6);
}

.player-containter.super-minimized {
  transform: translate3d(-42.5%, 46.5%, 0) scale(0.15);
}

.player-view-controls {
  position: absolute;
  color: #fff;
  background-color: var(--site-color);
  top: -40px;
  left: 0;
  font-size: 30px;
  padding: 6px;
  border-top-left-radius: var(--site-radius);
  border-top-right-radius: var(--site-radius);
}

.player-view-controls em {
  cursor: pointer;
}

.player-view-controls .minimize {
  margin-left: -7px;
}

.player-controls-block {
  margin-top: 5px;
  text-align: center;
  color: var(--text-color);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.mdl-button--icon.play {
  width: 42px;
  height: 42px;
}

.mdl-button--icon.play em {
  font-size: 40px;
}

.mdl-button--icon.prev {
  width: 30px;
  height: 30px;
}

.mdl-button--icon.prev em {
  font-size: 28px;
}

.mdl-button--icon.next {
  width: 30px;
  height: 30px;
}

.mdl-button--icon.next em {
  font-size: 28px;
}

.repeat-shuffle-block {
  margin-left: 40px;
  position: absolute;
  top: 10px;
}

.repeat-shuffle-block button.active {
  background-color: var(--site-color);
}

.mute-block {
  margin-left: -80px;
  position: absolute;
  top: 10px;
}

.mute-block button.active {
  background-color: var(--site-color);
}

.playlist-drop-button {
  position: absolute;
  color: var(--text-color);
  right: 12px;
  top: 10px;
}

.main-yt-player-block {
  color: #fff;
  position: relative;
  text-align: center;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.main-yt-player-block .fa {
  position: absolute;
  color: #fff;
  font-size: 255px;
  left: 0;
  right: 0;
  margin: 0 auto;
  cursor: pointer;
  display: none;
  text-shadow: 2px 2px 2px #000;
}

.player-fullscreen {
  bottom: 80px;
  left: 0;
  width: 95%;
  height: calc(100% - 160px);
  border: none;
  box-shadow: none;
}

.current-playing-text {
  max-width: 320px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  position: absolute;
  left: 10.5em;
  top: 1.4em;
  font-size: 12px;
  text-align: left;
  text-align: left;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
}

.now-playing-label {
  opacity: 0.75;
  white-space: nowrap;
  overflow: hidden;
}

@media (max-width: 850px) {
  .player-containter {
    bottom: 60px;
  }

  .current-playing-text {
    display: none !important;
  }

  .player-controls-block {
    left: 0;
  }

  .repeat-shuffle-block {
    margin-left: 10px;
  }
}

@media (max-width: 1150px) {
  .player-fullscreen {
    bottom: 50px;
    width: 100%;
  }

  .current-playing-text {
    max-width: 160px;
  }
}

.dark {
  background: var(--bg-site-g);
  color: var(--text-color);
}

.mdl-menu__item {
  color: var(--text-color);
}

.mdl-menu__item:hover {
  color: var(--site-color);
}