<article>
  <app-navbar [header]="header$ | async"
    [mainIcon]="'chevron-left'"
    (headerMainIconClick)="handleBack()">
  </app-navbar>
  <div class="row">
    <playlist-viewer class="clearfix"
      [videos]="videos$ | async"
      [playlist]="playlist$ | async"
      [queuedPlaylist]="nowPlaylistIds$ | async"
      (playPlaylist)="playPlaylist($event)"
      (queuePlaylist)="queuePlaylist($event)"
      (playVideo)="playVideo($event)"
      (queueVideo)="queueVideo($event)"
      (unqueueVideo)="unqueueVideo($event)"
    ></playlist-viewer>
  </div>
</article>
