.playlist {
  height: calc(100vh - 165px);
  width: 5%;
  max-width: 70px;
  position: fixed;
  top: 110px;
  right: 0;
  background-color: var(--bg-site-g) !important;
  overflow-x: hidden;
  transition: 0.1s;
  box-shadow: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border-radius: 0;
}

.playlist.opened {
  top: 112px;
  width: 25%;
  max-width: 25%;
  z-index: 993;
  height: calc(100vh - 165px);
  box-shadow: none;
  border-radius: 0;
}

.playlist-thumbnail {
  height: 55px;
  width: 55px;
  background: #000;
  margin: 5px;
  display: inline-block;
  position: relative;
  border-radius: var(--site-radius);
}

.playist-item.playing {
  background: var(--site-color);
}

.playist-item-empty {
  color: #fff;
}

.playist-item-empty .playlist-thumbnail {
  text-align: center;
}

.playist-item-empty i {
  margin-top: 10px;
  font-size: 35px;
}

.playist-item:hover {
  background: var(--site-color);
  cursor: pointer;
  color: #fff;
}

.playist-item:hover .delete-from-playlist {
  display: block;
}

.no-in-playlist {
  color: var(--text-color);
  text-shadow: 2px 2px 2px #000;
}

.video-duration {
  color: var(--text-color);
  text-shadow: 2px 2px 2px #000;
  position: absolute;
  bottom: -4px;
  left: 1px;
  font-size: 9px;
}

.opened-item-info {
  display: inline-block;
  color: var(--text-color);
  position: absolute;
  left: 70px;
  margin-top: 8px;
}

.opened-item-info.closed {
  display: none;
}

.delete-from-playlist {
  position: absolute;
  display: none;
  bottom: 0;
  right: 0;
  color: var(--site-color);
  background-color: rgba(0, 0, 0, 0.65);
  font-size: 16px;
}

@media (max-width: 1150px) {
  .playlist {
    width: 0;
  }

  .playlist.opened {
    width: 40%;
    max-width: 40%;
  }
}

@media (max-width: 620px) {
  .playlist.opened {
    width: 70%;
    max-width: 70%;
  }
}