<nav class="row navbar navbar-default navbar-fixed-top">
  <div class="navbar-container">

    <div class="navbar__content">
      <h3 *ngIf="header" class="navbar__header navbar-text">
        <button
          *ngIf="mainIcon"
          class="navbar-btn__main btn-transparent"
          (click)="handleMainIconClick()">
          <icon [name]="mainIcon"></icon>
        </button>
        <icon [name]="headerIcon" *ngIf="headerIcon"></icon> {{ header }}
      </h3>
      <ng-content></ng-content>
    </div>

    <section class="navbar-text navbar-actions">
      <app-navbar-user
        [signedIn]="isSignIn()"
        [userImageUrl]="(user$ | async).profile.imageUrl"
        (signIn)="signInUser()">
      </app-navbar-user>
      <app-navbar-menu
        [appVersion]="appVersion$ | async"
        [theme]="themes$ | async"
        (themeChange)="changeTheme($event)"
        [signedIn]="isSignIn()"
        (signOut)="signOutUser()"
        (versionUpdate)="updateVersion()"
        (versionCheck)="checkVersion()">
      </app-navbar-menu>
    </section>
    
  </div>
</nav>
