<article
  infiniteScroll
  [infiniteScrollDistance]="2"
  [infiniteScrollDisabled]="currentPlaylist$ | async"
  (scrolled)="searchMore()"
  [immediateCheck]="true">
  <app-navbar>
    <div class="navbar-header">
      <player-search
        [query]="query$ | async"
        (queryChange)="resetPageToken($event)"
        (search)="search($event)">
      </player-search>
    </div>
    <button-group class="nav-toolbar"
      [buttons]="presets$ | async"
      [selectedButton]="queryParamPreset$ | async"
      (buttonClick)="updatePreset($event)">
    </button-group>
    <search-navigator></search-navigator>
  </app-navbar>
  <router-outlet></router-outlet>
</article>
